body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 20% auto auto 20%;
  grid-template-rows: auto;
  column-gap: 1.2em;
}

.sidebar {
  grid-column: 2 / 3;
}

.main {
  grid-column: 3 / 3;
  display: grid;
  grid-template-columns: repeat(3, 1.5fr);
  gap: 1.5em;
}

.avatar-container {
  display: grid;
  grid-row: 1 / 5;
  grid-template-columns: 150px 150px;
  gap: 1em;
}

.job-title {
  font-weight: 100px;
  font-size: 0.8rem;
}

.social-container {
  grid-row: 3 / 5;
}

.about-me-container {
  grid-row: 4 / 5;
}

.contact-me-container {
  grid-row: 5 / 5;
}

/* project card styles */
.project-card-container {
  display: grid;
  grid-template-rows: 70px 45px 250px auto;
}

.project-title-tech {
  font-weight: 100;
  font-style: italic;
  font-size: 0.8rem;
}

.project-card-container > ul > li {
  margin-bottom: 0.7em;
}