/* color pallette: https://coolors.co/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529 */

:root {
  --color-bg: #E9ECEF;
  --text-color: #495057;
  --link-color: #343A40;
  --subtext-color: #6C757D;
}

body {
  background-color: var(--color-bg);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  margin-top: 60px;
  overflow-y: hidden;
}

a {
  color: var(--link-color);
}

.container {
  display: grid;
  grid-template-columns: auto 480px 850px auto;
  grid-template-rows: 100vh;
  column-gap: 1.6em;
}

.sidebar {
  grid-column: 2 / 3;
}

.main {
  grid-column: 3 / 3;
  display: grid;
  grid-template-columns: repeat(3, 1.5fr);
  gap: 1.5em;
  overflow-y: scroll;
}

.avatar-container {
  display: grid;
  grid-row: 1 / 5;
  grid-template-columns: 150px 150px;
  gap: 1em;
}

.info-container {
  display: grid;
  grid-template-rows: 60px 30px;
}

.job-title {
  font-weight: 100px;
  font-size: 0.8rem;
}

.social-container {
  grid-row: 3 / 5;
}

.about-me-container {
  grid-row: 4 / 5;
}

.contact-me-container {
  grid-row: 5 / 5;
}

/* project card styles */
.project-card-container {
  display: grid;
  grid-template-rows: 70px 45px 250px auto;
}

.project-title-tech {
  color: var(--subtext-color);
  font-weight: 100;
  font-style: italic;
  font-size: 0.8rem;
}

.project-card-container > ul > li {
  margin-bottom: 0.3em;
}