.container {
  display: grid;
  grid-template-columns: auto 25% 25% auto;
  grid-template-rows: auto;
}

.sidebar {
  grid-column: 2 / 3;

  display: grid;
}

.main {
  grid-column: 3 / 3;
}

.avatar-container {
  grid-column: 1 / 2;
}

.name-container {
  grid-column: 2 / 2;
}

.social-container {
  grid-column: 1;
}

.about-me-container {
  grid-column: 1;
}

.contact-me-container {
  grid-column: 1;
}